<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
	</head>
	<body>
		<div class="panel panel-docs">
			<%- include('../partials/admin/sidebar.ejs') %>
			<main>
				<%- include('../partials/admin/navbar.ejs') %>
				<div class="contenedor">
                    <!-- <div class="index">
                        <a href="#introduction">Introducción</a>
                        <a href="#books">Libros</a>
                        <a href="#users">Usuarios</a>               
                    </div> -->
					<div class="wrapper">
                        <div class="docs">
                            <h1 class="title">API de Bibliotech</h1>
                            <div class="block">
                                <h3 class="subtitle" id="introduction">Introducción</h3>
                                <p>La API de Bibliotech es una API RESTful privada diseñada para gestionar una colección de libros, permitiendo a los programadores interactuar con la base de datos de Bibliotech. Esta API maneja las operaciones de lectura y escritura en la base de datos, permitiendo a los usuarios autenticados realizar operaciones CRUD (Crear, Leer, Actualizar, Eliminar) sobre los recursos de libros, así como proporcionar información sobre la estructura de la base de datos. Esta documentación te guiará en cómo autenticarte y utilizar los diferentes endpoints de la API.</p>
                                <p>URL base de la API: <code>http://localhost:3000/api/v1</code></p>
                                <h2>Headers requeridos.</h2>
                                <pre>
                                    <code class="language-json"> 
                                        {
                                            "Accept": "application/json",
                                            "Content-Type": "application/json"
                                        }
                                    </code>
                                </pre>
                            </div>

                            <h2 class="title-small" id="books">Referencia de la API</h2>
                            <div class="block">
                                <h3 class="subtitle">Sección Libros</h3>
                                <h2>Obtener todos los libros</h2>
                                <p>
                                    <code>GET /api/v1/books</code>
                                </p>
                    
                                <h2>Obtener libro por ID</h2>
                                <p>
                                    <code>GET /api/v1/book/:id</code>
                                </p>

                                <h2>Búsqueda de libros con filtrado</h2>
                                <p>Para realizar una búsqueda de libros filtrada, se debe utilizar el endpoint <code>/api/v1/book/search</code> y colocar los parámetros en la url con los que se quiere realizar la búsqueda.</p>
                                <p>Por ejemplo: <code>/api/v1/books/search?title=el gran gatsby</code></p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>title</td>
                                            <td>string</td>
                                            <td>Título del libro</td>
                                        </tr>
                                        <tr>
                                            <td>genre</td>
                                            <td>string</td>
                                            <td>ID del genero</td>
                                        </tr>
                                        <tr>
                                            <td>author</td>
                                            <td>string</td>
                                            <td>Nombre del autor</td>
                                        </tr>
                                        <tr>
                                            <td>date</td>
                                            <td>int</td>
                                            <td>Año de publicación</td>
                                        </tr>
                                        <tr>
                                            <td>isbn</td>
                                            <td>string</td>
                                            <td>ISBN del libro</td>
                                        </tr>
                                        <tr>
                                            <td>pages</td>
                                            <td>int</td>
                                            <td>Cantidad de paginas</td>
                                        </tr>
                                        <tr>
                                            <td>language</td>
                                            <td>string</td>
                                            <td>Idioma</td>
                                        </tr>
                                        <tr>
                                            <td>publisher</td>
                                            <td>string</td>
                                            <td>Editorial</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Obtener los libros mas recientes</h2>
                                <p>
                                    <code>GET /api/v1/books/recent</code>
                                </p>
                                <h2>Obtener los libros mas gustados</h2>
                                <p>
                                    <code>GET /api/v1/books/liked</code>
                                </p>
                                <h2>Obtener los libros mas visitados</h2>
                                <p>
                                    <code>GET /api/v1/books/visited</code>
                                </p>
                                <h2>Obtener los generos disponibles</h2>
                                <p>
                                    <code>GET /api/v1/books/categories</code>
                                </p>

                                <h2>Crear libro</h2>
                                <p>
                                    <code>POST /api/v1/book/create</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>title</td>
                                            <td>string</td>
                                            <td>Título del libro</td>
                                        </tr>
                                        <tr>
                                            <td>author</td>
                                            <td>string</td>
                                            <td>Nombre del autor</td>
                                        </tr>
                                        <tr>
                                            <td>isbn</td>
                                            <td>string</td>
                                            <td>ISBN del libro</td>
                                        </tr>
                                        <tr>
                                            <td>date</td>
                                            <td>date</td>
                                            <td>Fecha de lanzamiento del libro</td>
                                        </tr>
                                        <tr>
                                            <td>pages</td>
                                            <td>int</td>
                                            <td>Cantidad de paginas</td>
                                        </tr>
                                        <tr>
                                            <td>language</td>
                                            <td>string</td>
                                            <td>Idioma</td>
                                        </tr>
                                        <tr>
                                            <td>state</td>
                                            <td>string</td>
                                            <td>Estado del libro</td>
                                        </tr>
                                        <tr>
                                            <td>synopsis</td>
                                            <td>string</td>
                                            <td>Sinopsis</td>
                                        </tr>
                                        <tr>
                                            <td>image</td>
                                            <td>string</td>
                                            <td>Link de la portada</td>
                                        </tr>
                                        <tr>
                                            <td>pdfLink</td>
                                            <td>string</td>
                                            <td>Link del pdf del libro</td>
                                        </tr>
                                        <tr>
                                            <td>categories</td>
                                            <td>array</td>
                                            <td>Generos que tiene el libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Eliminar libro</h2>
                                <p>
                                    <code>POST /api/v1/book/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Editar libro</h2>
                                <p>
                                    <code>POST /api/v1/book/:id/edit</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>id</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                        <tr>
                                            <td>title</td>
                                            <td>string</td>
                                            <td>Título del libro</td>
                                        </tr>
                                        <tr>
                                            <td>author</td>
                                            <td>string</td>
                                            <td>Autor del libro</td>
                                        </tr>
                                        <tr>
                                            <td>isbn</td>
                                            <td>string</td>
                                            <td>ISBN del libro</td>
                                        </tr>
                                        <tr>
                                            <td>pages</td>
                                            <td>int</td>
                                            <td>Cantidad de paginas</td>
                                        </tr>
                                        <tr>
                                            <td>language</td>
                                            <td>string</td>
                                            <td>Idioma</td>
                                        </tr>
                                        <tr>
                                            <td>state</td>
                                            <td>string</td>
                                            <td>Estado del libro</td>
                                        </tr>
                                        <tr>
                                            <td>synopsis</td>
                                            <td>string</td>
                                            <td>Sinopsis</td>
                                        </tr>
                                        <tr>
                                            <td>file</td>
                                            <td>string</td>
                                            <td>Imagen del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h2 class="title-small" id="users">Usuarios <span class="warning-authentication">[Autenticación requerida]</span></h2>
                            <div class="block">
                                <h3 class="subtitle">Sección Usuarios</h3>
                                <h2>Obtener todos los usuarios</h2>
                                <p>
                                    <code>GET /api/v1/users</code>
                                </p>
                                <h2>Obtener los datos de un usuario</h2>
                                <p>
                                    <code>GET /api/v1/user/:userId</code>
                                </p>
                                <h2>Crear usuario</h2>
                                <p>
                                    <code>POST /api/v1/user/create</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>username</td>
                                            <td>string</td>
                                            <td>Nombre del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>email</td>
                                            <td>string</td>
                                            <td>Correo electrónico del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>password</td>
                                            <td>string</td>
                                            <td>Contraseña del usuario</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Editar usuario</h2>
                                <p>
                                    <code>POST /api/v1/user/edit</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>username</td>
                                            <td>string</td>
                                            <td>Nombre del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>email</td>
                                            <td>string</td>
                                            <td>Correo electrónico del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>password</td>
                                            <td>string</td>
                                            <td>Contraseña del usuario</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Eliminar usuario</h2>
                                <p>
                                    <code>POST /api/v1/user/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Añadir libro a la lista de leer mas tarde</h2>
                                <p>
                                    <code>POST /api/v1/user/later/add</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Añadir libro a la lista de gustados</h2>
                                <p> 
                                    <code>POST /api/v1/user/like/add</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Añadir libro a la lista de favoritos</h2>
                                <p>
                                    <code>POST /api/v1/user/favorite/add</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Obtener los libros favoritos de un usuario</h2>
                                <p>
                                    <code>GET /api/v1/user/:id/favorite/all</code>
                                </p>
                                <h2>Obtener los libros gustados de un usuario</h2>
                                <p>
                                    <code>GET /api/v1/user/:id/like/all</code>
                                </p>
                                <h2>Obtener los libros de la lista ver mas tarde de un usuario</h2>
                                <p>
                                    <code>GET /api/v1/user/:id/later/all</code>
                                </p>

                                <h2>Eliminar libro de la lista de leer mas tarde</h2>
                                <p>
                                    <code>POST /api/v1/user/later/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Eliminar libro de la lista de favoritos</h2>
                                <p>
                                    <code>POST /api/v1/user/favorite/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Eliminar libro de la lista de gustados</h2>
                                <p>
                                    <code>POST /api/v1/user/like/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Obtener el historial de un usuario</h2>
                                <p>
                                    <code>GET /api/v1/user/record/:id</code>
                                </p>

                                <h2>Agregar un libro al historial de un usuario</h2>
                                <p>
                                    <code>POST /api/v1/user/record/add</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Eliminar un libro del historial de un usuario</h2>
                                <p>
                                    <code>POST /api/v1/user/record/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <h2 class="title-small">Comentarios</h2>
                            <div class="block">
                                <h3 class="subtitle">Sección Comentarios</h3>
                                
                                <h2>Obtener todos los comentarios</h2>
                                <p>
                                    <code>GET /api/v1/comments</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro por QUERY</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>bookTitle</td>
                                            <td>string</td>
                                            <td>Título del libro <span class="warning-authentication" style="display: inline-block;">Opcional</span></td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro <span class="warning-authentication" style="display: inline-block;">Opcional</span></td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h2>Crear un comentario</h2>
                                <p>
                                    <code>POST /api/v1/comment/create</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>userId</td>
                                            <td>int</td>
                                            <td>ID del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>bookId</td>
                                            <td>int</td>
                                            <td>ID del libro</td>
                                        </tr>
                                        <tr>
                                            <td>comment</td>
                                            <td>string</td>
                                            <td>Comentario</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <h2>Eliminar un comentario</h2>
                                <p>
                                    <code>POST /api/v1/comment/delete</code>
                                </p>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Parámetro</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>commentId</td>
                                            <td>int</td>
                                            <td>ID del comentario</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
				</div>
			</main>
		</div>
        <script src="js/apiActions.js"></script>
		<script src="js/cambiarTema.js"></script>
	</body>
</html>

<script src="js/previsualizarImagen.js"></script>
