<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
	</head>
	<body>
		<div class="panel panel-docs">
			<%- include('../partials/admin/sidebar.ejs') %>
			<main>
				<%- include('../partials/admin/navbar.ejs') %>
				<div class="contenedor">
                    <!-- <div class="index">
                        <a href="#introduction">Introducción</a>
                        <a href="#books">Libros</a>
                        <a href="#users">Usuarios</a>               
                    </div> -->
					<div class="wrapper">
                        <div class="docs">
                            <h1 class="title">Manual del programador</h1>
                            <div class="block">
                                <h2 id="introduction">Introducción</h2>
                                <p>
                                    Bienvenido al manual del programador de la Biblioteca Virtual “BiblioTech”. Este manual está diseñado para guiarte a través de las funcionalidades clave de la aplicación, desde el registro y la navegación, hasta la gestión de contenidos y el acceso a futuras características.
                                </p>
                            
                                <h2>Requisitos para ejecutar la aplicación en local.</h2>
                                <ul>
                                    <li><span class="strong">Navegador Web:</span> Google Chrome, Firefox, Safari, o Microsoft Edge.</li>
                                    <li><span class="strong">Conexión a Internet:</span> Recomendado.</li>
                                    <li><span class="strong">XAMPP:</span> Simulador de servidores para conectar la base de datos.</li>
                                    <li><span class="strong">NodeJS:</span> Entorno de ejecución para el backend.</li>
                                </ul>

                                <h2>Instalación y configuración</h2>
                                <p>Para instalar la aplicación en local, sigue los siguientes pasos:</p>
                                <ol>
                                    <li>Clona el repositorio de GitHub. <a href="https://github.com/Exaedro/bibliotech" target="_blank" class="subtitle">Clickea aquí.</a></li>
                                    <li>Abra XAMPP, encienda los servicios de <span class="strong">Apache</span> y <span class="strong">MySQL</span>.</li>
                                    <li>Ingrese en phpMyAdmin y cree una base de datos llamada <code>bibliotech_v2</code> e importe el archivo <span class="strong">bibliotech_v2.sql</span> que se encuentra en la carpeta <span class="strong">sql</span></li>
                                    <li>Abra la terminal y ejecuta el siguiente comando para instalar las dependencias necesarias: <code>npm i</code></li>
                                    <li>Una vez instaladas las dependencias, ejecuta el siguiente comando para iniciar el servidor de desarrollo: <code>npm run dev</code></li>
                                    <li>La aplicación se iniciará en <span class="strong">http://localhost:4000</span> y la API en <span class="strong">http://localhost:3000</span>.</li>
                                </ol>
                                <h3 class="subtitle">Configuración del archivo .env</h3>
                                <p>Si necesitas cambiar la configuración para conectar tu servidor a la base de datos, puedes hacerlo facilmente desde el archivo <span class="strong">.env</span> que se encuentra en la raíz del proyecto cambiando los valores de las variables definidas allí.</p>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Inicio de sesión y registro</h2>

                                <h3 class="subtitle">Inicio de sesión</h3>
                                <ul>
                                    <li><span class="strong">Paso 1:</span> Ingresa a la página de inicio de sesión.</li>
                                    <li><span class="strong">Paso 2:</span> Introduce tu correo electrónico y contraseña.</li>
                                    <li><span class="strong">Paso 3:</span> Haz clic en el botón "Iniciar sesión".</li>
                                    <li><span class="strong">Problemas Comunes:</span> Recuperación de contraseña, errores al iniciar sesión.</li>
                                </ul>

                                <h3 class="subtitle">Registro</h3>
                                <ul>
                                    <li><span class="strong">Paso 1:</span> Dirígete a la sección "Iniciar sesión".</li>
                                    <li><span class="strong">Paso 2:</span> Ir a crear cuenta</li>
                                    <li><span class="strong">Paso 3:</span> Completa el formulario con tus datos personales.</li>
                                    <li><span class="strong">Paso 4:</span> Confirma tu registro.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</main>
		</div>
        <script src="js/apiActions.js"></script>
		<script src="js/cambiarTema.js"></script>
	</body>
</html>

<script src="js/previsualizarImagen.js"></script>
