<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partials/admin/head.ejs') %>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" rel="stylesheet" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.min.js"></script>
	</head>
	<body>
		<div class="panel panel-docs">
			<%- include('../partials/admin/sidebar.ejs') %>
			<main>
				<%- include('../partials/admin/navbar.ejs') %>
				<div class="contenedor">
                    <!-- <div class="index">
                        <a href="#introduction">Introducción</a>
                        <a href="#books">Libros</a>
                        <a href="#users">Usuarios</a>               
                    </div> -->
					<div class="wrapper">
                        <div class="docs">
                            <h1 class="title">Informe del Proyecto</h1>
                            <div class="block">
                                <h2 id="introduction">Portada</h2>
                                <p>
                                    <strong>Titulo del proyecto:</strong> Bibliotech <br>
                                    <strong>Apellidos de los autores:</strong> Fernandez, Grippaldi, Leites <br>
                                    <strong>Institución:</strong> Escuela de Educación Secundaria Técnica Nro 1 "Eduardo Ader" <br>
                                    <strong>Fecha:</strong> 12/08/2024 <br>
                                    <strong>Versión del informe:</strong> 1.2.2
                                </p>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Resumen ejecutivo</h2>
                                <h3 class="subtitle">Descripción breve del proyecto:</h3>
                                <p>El proyecto "Sistema de Gestión de Bibliotecas - Versión Avanzada" busca modernizar y expandir un sistema previamente desarrollado para la gestión de bibliotecas. Inicialmente basado en Python, PyQt5 y MySQL, el proyecto ha evolucionado para utilizar tecnologías web modernas con un enfoque en aplicaciones de escritorio a través de <strong>Electron</strong>, <strong>Node.js</strong> y <strong>MySQL</strong>. Este informe detalla los cambios y mejoras realizadas, y proporciona una visión general del estado actual del proyecto.</p>

                                <h3 class="subtitle">Cambios clave desde las últimas exposiciones:</h3>
                                <ul>
                                    <li><span class="strong">Cambio total del código:</span>
                                        <ul>
                                            <li>Implementación de Electrón para poder hacer el diseño que queríamos más fácilmente utilizando HTML, CSS y JS.</li>
                                        </ul>
                                    </li>
                                    <li class="strong">Actualización en la base de datos.</li>
                                </ul>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Introducción</h2>
                                <h3 class="subtitle">Antecedentes del proyecto</h3>
                                <p>El sistema de gestión de bibliotecas original, desarrollado con PyQt5 y MySQL, ofrecía funcionalidades básicas para la gestión de libros, reservas y usuarios. Con la evolución de las tecnologías web y la necesidad de una aplicación de escritorio moderna, se decidió actualizar el proyecto para aprovechar <span class="strong">Electron</span> y <span class="strong">Node.js</span>, proporcionando una interfaz más intuitiva y funcional.</p>

                                <h3 class="subtitle">Objetivos del proyecto</h3>
                                <ul>
                                    <li>Modernizar la interfaz gráfica del sistema.</li>
                                    <li>Implementar un backend robusto utilizando Node.js y Express.</li>
                                    <li>Integrar una base de datos MySQL con una arquitectura de backend eficiente.</li>
                                    <li>Mejorar la gestión de usuarios y roles.</li>
                                    <li>Añadir funcionalidades avanzadas como la búsqueda de libros y gestión de permisos.</li>
                                </ul>

                                <h3 class="subtitle">Alcance del informe</h3>
                                <p>Este informe cubre la transición del proyecto desde su versión original hasta la nueva implementación, incluyendo cambios en el código, la estructura del proyecto, y mejoras en la funcionalidad y diseño.</p>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Descripción del proyecto</h2>
                                
                                <h3 class="subtitle">Descripción general</h3>
                                <p>"BiblioTech - Sistema de Gestión de Bibliotecas" es una aplicación de escritorio construida con Electron que utiliza tecnologías web (HTML/CSS/JavaScript) para la interfaz y Node.js para el backend. La aplicación gestiona libros, usuarios, y reservas, e incluye nuevas características como un sistema de roles personalizado.</p>
                                
                                <h3 class="subtitle">Arquitectura del sistema</h3>
                                <ul>
                                    <li><span class="strong">Frontend:</span> Implementado con HTML, CSS, y JavaScript, empaquetado con Electron.</li>
                                    <li><span class="strong">Backend:</span> Utiliza Node.js con el framework Express para manejar las solicitudes y lógica.</li>
                                    <li><span class="strong">Base de datos:</span> MySQL para el almacenamiento de datos.</li>
                                    <li><span class="strong">API RESTful:</span> Proporciona una API RESTful para la comunicación entre el frontend y el backend.</li>
                                </ul>

                                <h3 class="subtitle">Tecnologías utilizadas</h3>
                                <p class="strong nomargin">Backend</p>
                                <ul>
                                    <li><span class="strong">Node.js:</span> Para la lógica del servidor.</li>
                                    <li><span class="strong">Express:</span>  Framework para manejar rutas y solicitudes HTTP.</li>
                                    <li><span class="strong">MySQL:</span> Para la gestión de datos.</li>
                                    <li><span class="strong">MySQL2 (Libreria):</span> Cliente de MySQL para Node.js.</li>
                                </ul>
                                <p class="strong nomargin">Frontend</p>
                                <ul>
                                    <li><span class="strong">Diseño Responsive:</span> Adaptación a diferentes tamaños de pantalla.</li>
                                    <li><span class="strong">Control de Versiones:</span> Uso de Git.</li>
                                    <li><span class="strong">Gestión de Paquetes:</span> npm para dependencias.</li>
                                </ul>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Base de datos</h2>
                                <h2>Tablas</h2>
                                <h3 class="subtitle">Libros</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Titulo</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Título del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Autor</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Autor del libro</td>
                                        </tr>
                                        <tr>
                                            <td>ISBN</td>
                                            <td>VARCHAR(13)</td>
                                            <td>ISBN del libro</td>
                                        </tr>
                                        <tr>
                                            <td>FechaLanzamiento</td>
                                            <td>DATE</td>
                                            <td>Fecha de lanzamiento del libro</td>
                                        </tr>
                                        <tr>
                                            <td>CantidadPaginas</td>
                                            <td>INT</td>
                                            <td>Cantidad de páginas del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Editorial</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Editorial del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Sinopsis</td>
                                            <td>TEXT</td>
                                            <td>Sinopsis del libro</td>
                                        </tr>
                                        <tr>
                                            <td>imagen</td>
                                            <td>VARCHAR(10000)</td>
                                            <td>Imagen del libro</td>
                                        </tr>
                                        <tr>
                                            <td>pdf_link</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Enlace al PDF del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Idioma</td>
                                            <td>VARCHAR(50)</td>
                                            <td>Idioma del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Estado</td>
                                            <td>ENUM('Disponible','Prestado','Reservado')</td>
                                            <td>Estado del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Visitas</td>
                                            <td>INT</td>
                                            <td>Cantidad de visitas del libro</td>
                                        </tr>
                                        <tr>
                                            <td>Gustados</td>
                                            <td>INT</td>
                                            <td>Cantidad de gustados del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Categorias</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>CategoriaID</td>
                                            <td>INT</td>
                                            <td>Identificador único de la categoría</td>
                                        </tr>
                                        <tr>
                                            <td>NombreCategoria</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Nombre de la categoría</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Libros_categorias</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                        <tr>
                                            <td>CategoriaID</td>
                                            <td>INT</td>
                                            <td>Identificador único de la categoría</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Usuarios</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>Nombre</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Nombre del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>CorreoElectronico</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Correo electronico del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>Imagen</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Imagen del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>Contraseña</td>
                                            <td>VARCHAR(255)</td>
                                            <td>Contraseña del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>RollID</td>
                                            <td>INT</td>
                                            <td>Identificador único del rol del usuario</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Roles</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>RollID</td>
                                            <td>INT</td>
                                            <td>Identificador único del rol</td>
                                        </tr>
                                        <tr>
                                            <td>NombreRol</td>
                                            <td>ENUM('propietario','admin','mod','user')</td>
                                            <td>Nombre del rol</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Comentarios</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>ComentarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del comentario</td>
                                        </tr>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario que comenta</td>
                                        </tr>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro al que se le ha comentado</td>
                                        </tr>
                                        <tr>
                                            <td>Comentario</td>
                                            <td>TEXT</td>
                                            <td>Comentario del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>FechaComentario</td>
                                            <td>DATE</td>
                                            <td>Fecha de la publicación del comentario</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Favoritos</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>FavoritoID</td>
                                            <td>INT</td>
                                            <td>Identificador único del favorito</td>
                                        </tr>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Gustados</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>GustadoID</td>
                                            <td>INT</td>
                                            <td>Identificador único del gustado</td>
                                        </tr>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Ver mas tarde</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>TardeID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <h3 class="subtitle">Historial</h3>
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Nombre</th>
                                            <th>Tipo</th>
                                            <th>Descripción</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>HistorialID</td>
                                            <td>INT</td>
                                            <td>Identificador único del historial</td>
                                        </tr>
                                        <tr>
                                            <td>UsuarioID</td>
                                            <td>INT</td>
                                            <td>Identificador único del usuario</td>
                                        </tr>
                                        <tr>
                                            <td>LibroID</td>
                                            <td>INT</td>
                                            <td>Identificador único del libro</td>
                                        </tr>
                                        <tr>
                                            <td>FechaAccion</td>
                                            <td>DATE</td>
                                            <td>Fecha de la acción</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Desarrollo y cambios</h2>
                                <h3 class="subtitle">Descripción de los cambios realizados</h3>

                                <ul>
                                    <li><span class="strong">Código de Frontend:</span> Migración de PyQt5 a HTML/CSS y JavaScript, implementado en Electron.</li>
                                    <li><span class="strong">Código de Backend:</span> Introducción de Node.js y Express en lugar de Python.</li>
                                    <li><span class="strong">Integración:</span> La lógica de conexión a la base de datos y las funcionalidades de gestión ahora se realizan mediante Node.js.</li>
                                </ul>

                                <h3 class="subtitle">Motivo de los cambios</h3>
                                <p>La actualización a tecnologías web permite una interfaz más moderna y una integración más sencilla con otras herramientas y plataformas.</p>

                                <h3 class="subtitle">Impacto de los cambios:</h3>
                                <ul>
                                    <li><span class="strong">Mejoras en Usabilidad:</span> Interfaz gráfica más accesible y atractiva.</li>
                                    <li><span class="strong">Flexibilidad:</span> Mayor compatibilidad y opciones de despliegue.</li>
                                    <li><span class="strong">Mantenimiento:</span> Código más modular y fácil de actualizar.</li>
                                </ul>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Resultados y evaluación</h2>

                                <h3 class="subtitle">Estado actual del proyeco</h3>
                                <p>El sistema está completamente migrado a la nueva arquitectura con una interfaz funcional y moderna. La integración del frontend con Electron y el backend con Node.js ha sido exitosa.</p>

                                <h3 class="subtitle">Evaluación de resultados</h3>
                                <ul>
                                    <li><span class="strong">Interfaz:</span> Se ha mejorado la experiencia del usuario con una interfaz gráfica más atractiva y funcional.</li>
                                    <li><span class="strong">Funcionalidad:</span> Las nuevas características como la búsqueda de libros y el sistema de roles están en funcionamiento.</li>
                                </ul>

                                <h3 class="subtitle">Problemas encontrados y sus soluciones</h3>
                                <ul>
                                    <li><span class="strong">Problemas de Integración:</span> Se resolvieron problemas de compatibilidad entre el frontend y el backend durante el proceso de migración.</li>
                                    <li><span class="strong">Desafíos de Diseño:</span> Ajustes en el diseño para garantizar la adaptabilidad a diferentes resoluciones de pantalla.</li>
                                </ul>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Conclusiones</h2>
                                <h3 class="subtitle">Resumen de logros</h3>
                                <p>El proyecto ha sido exitosamente migrado a una plataforma moderna con una interfaz mejorada y funcionalidades avanzadas. La transición a Electron y Node.js ha permitido una experiencia de usuario más rica y una gestión de backend más eficiente.</p>

                                <h3 class="subtitle">Reflexiones finales</h3>
                                <p>La actualización tecnológica ha sido un proceso complejo pero satisfactorio, que ha llevado al sistema a un nuevo nivel de funcionalidad y usabilidad.</p>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Trabajo futuro</h2>
                                <h3 class="subtitle">Objetivos futuros</h3>
                                <p>A continuación, se presentan los objetivos futuros del proyecto:</p>
                                <ul>
                                    <li><span class="strong">Mejoras en la experiencia del usuario:</span> Implementar una interfaz más atractiva y funcional para una mejor experiencia de usuario.</li>
                                    <li><span class="strong">Mejoras en la gestión de backend:</span> Implementar una gestión más eficiente y segura del backend.</li>
                                    <li><span class="strong">Mejoras en la gestión de datos:</span> Implementar una gestión más eficiente y segura de los datos almacenados.</li>
                                    <li><span class="strong">Mejoras en la seguridad:</span> Implementar medidas de seguridad para proteger los datos y la aplicación.</li>
                                    <li><span class="strong">Mejoras en la escalabilidad:</span> Implementar estrategias para mantener la aplicación en funcionamiento en diferentes entornos y escalas.</li>
                                    <li><span class="strong">Mejoras en la documentación:</span> Implementar una documentación detallada y actualizada para facilitar el desarrollo y mantenimiento del proyecto.</li>
                                </ul>
                            </div>

                            <div class="block">
                                <h2 class="title-small">Referencias</h2>
                                <h3 class="subtitle">Bibliografía</h3>
                                <ul>
                                    <li><span class="strong">Documentación de Electron:</span> Electron Documentation</li>
                                    <li><span class="strong">Documentación de Node.js:</span> Node.js Documentation</li>
                                    <li><span class="strong">Documentación de MySQL:</span> MySQL Documentation</li>
                                </ul>
                                <h3 class="subtitle">Documentación adicional</h3>
                                <ul>
                                    <li>
                                        <a href="/panel/docs/api">Guía de utilización de la API de Bibliotech</a>
                                    </li>
                                    <li>
                                        <a href="https://coding-boot-camp.github.io/full-stack/es/mysql/mysql-installation-guide" target="_blank">Guía de Configuración de MySQL</a>
                                    </li>
                                    <li>
                                        <a href="https://www.electronjs.org/es/docs/latest/tutorial/installation" target="_blank">Guía de Instalación de Electron</a>
                                    </li>
                                    <li>
                                        <a href="https://nodejs.org/es/docs/guides/ana/" target="_blank">Guía de Instalación de Node.js</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
				</div>
			</main>
		</div>
        <script src="js/apiActions.js"></script>
		<script src="js/cambiarTema.js"></script>
	</body>
</html>

<script src="js/previsualizarImagen.js"></script>
