<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css" />
    <title><%- title %></title>
    <link rel="shortcut icon" href="/img/libro.png" type="image/x-icon">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

    <script>
        $(document).ready(function(){
            $('.panel #menuTitle').click(function(){
            $('#librosMenu').toggle();
        });
        });
        
        $(document).ready(function(){
            $('.panel #ayudaTitle').click(function(){
            $('#ayudaMenu').toggle();
        });
        });
        
    </script>