<aside>
    <h2>Panel administrador</h2>
    <hr />
    <div class="sideContainer">

        <p href="#" class="sideTitle">Libros</p>
        <div class="sidemenu">
            <a href="/panel/books">Catalogo</a>
            <a href="/panel/books/add">Añadir libro</a>
        </div>

        <p href="#" class="sideTitle">Usuarios</p>
        <div class="sidemenu">
            <a href="/panel/users">Usuarios</a>
            <a href="/panel/users/create">Crear usuario</a>
        </div>

        <p href="#" class="sideTitle">Documentación</p>
        <div class="sidemenu">
            <a href="/panel/docs/api">API</a>
            <a href="/panel/docs/manual">Manual del programador</a>
            <a href="/panel/docs/reports">Informe</a>
            <a href="https://github.com/Exaedro/bibliotech" target="_blank">GitHub</a>
        </div>

    </div>
</aside>