<aside>
    <h2>Panel administrador</h2>
    <hr />
    <div class="sideContainer">
        <p href="#" class="sideTitle" id="menuTitle">Libros</p>
        <div class="sidemenu" id="librosMenu">
            <!-- <a href="/panel/libros">Libros</a>
            <a href="/panel/usuarios">Usuarios</a>
            <a href="/panel/categorias">Categorias</a> -->
            
            <a href="/panel/books">Catalogo</a>
            <a href="/panel/books/add">Añadir libro</a>

            <!-- <p href="#" class="menuTitle">Libros</p>
            <div class="sidemenu" id="librosMenu">
                 <a href="/panel/libros">Libros</a>
                <a href="/panel/usuarios">Usuarios</a>
                <a href="/panel/categorias">Categorias</a> -->
                
                <!-- <a href="#">Catalogo</a>
                <a href="#">Añadir libro</a> -->
                
            <!-- </div> -->
        </div>

        <p href="#" class="sideTitle" id="ayudaTitle">Ayuda</p>
        <div class="sidemenu" id="ayudaMenu">
            <a href="#">Documentacion</a>
        </div>
    </div>
</aside>