<!DOCTYPE html>
<html lang="es">
	<head>
		<%- include('partials/head.ejs') %>
	</head>
	<body>
		<header><%- include('partials/navbar.ejs') %></header>
        
        <style>
            .capituloContainer {
                width: 1200px;
                margin: 0 auto;
            }

            .capituloContainer .capituloViewer {
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
            }

            .capituloContainer .capituloViewer img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        </style>
        
        <div class="wrapper">
			<main class="capituloContainer">
				<section class="capituloViewer">
                    <% data.chapter.images.forEach(image => { %>
                        <img src="<%- image %>">
                    <% }) %>
                </section>
			</main>

			<footer class="footerContainer">
				<%- include('partials/footer.ejs') %>
			</footer>
		</div>
	</body>
</html>
