<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <header>
        <%- include('partials/navbar.ejs') %>
    </header>
    <main class="errorContainer">
        <h1>404</h1>
        <p>Esta página no existe.</p>
        <a href="/">Volver al inicio</a>
    </main>
    <footer class="footerContainer">
        <%- include('partials/footer.ejs') %>
    </footer>
</body>
</html>