<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head.ejs') %>
</head>
<body>
    <div class="logeoFondo">
        <img src="img/fondo.jpg" id="logeoFondoImg">
    </div>
    <header class="logeoHeader">
        <a href="/">Bibliotech</a>
    </header>
    <main class="logeoForm">
        <h1>Iniciar sesión</h1>
        <form action="/login" id="loginForm" method="POST">
            <label for="email">Email</label>
            <input type="email" value="usuariojaja@gmail.com" id="email" name="email" placeholder=". . ." required>
            <p class="hidden" id="emailMessageError">Escribe un email valido.</p>
            
            <label for="password">Contraseña</label>
            <input type="password" value="29422196" id="password" name="password" placeholder=". . ." required maxlength="16">
            <p class="hidden" id="passwordMessageError">Este espacio es obligatorio.</p>

            <% if(typeof error != 'undefined') { %>
                <% if(error == 'user_not_exist') { %>
                    <span class="error">Este usuario no existe.</span>
                <% } %>
                <% if(error == 'invalid_password') { %>
                    <span class="error">La contraseña es invalida.</span>
                <% } %>
            <% } %>
            
            <button type="submit" id="formButton">Iniciar sesión</button>
        </form>
        <a href="/register">¿No te has registrado? Crea una cuenta.</a>
    </main>

    <script src="js/cambiarTema.js"></script>
    <script src="js/validarFormularioLogin.js"></script>
</body>
</html>