<div class="first">
    <div class="info">
        <img src="/img/logo.png" id="logo" alt="Bibliotech Logo">
        <p>9 de cada 10 médicos recomiendan leer un libro. Puedes hacerlo en Bibliotech.</p>
    </div>
    <div class="botones">
        <% if(user.role == 'admin') { %>
            <a href="https://docs.google.com/document/d/1rsF95PDNEMZiBFbBoz3aPjBiy8dVz5Q52z0R31U2vVo/edit?usp=sharing" target="_blank">Manual de usuario</a>
        <% } %>
        <a href="https://docs.google.com/document/d/1WH0kpTV9-MaTCEwCtpJPMOTKF-cJEKFycYCNWou7jho/edit?usp=sharing" target="_blank">Terminos y condiciones</a>
        <a href="mailto:bibliotech266@gmail.com">Contacto</a>
        <% if(user.role == 'admin') { %>
            <a href="https://docs.google.com/document/d/1X49LhPLLmIuMoG3LoG3MVAZipaqNnd9AEvW0A2evCWo/edit?usp=sharing" target="_blank">Informe</a>
        <% }%>
    </div>
</div>
<hr class="barra">
<p>Desarrollado por Fernandez Franco, Grippaldi Julián, y Leites Thiago de 6°3</p>

<script src="js/cambiarTema.js"></script>
